/* General styling, Kaupunkisuunnistus */
/*  */
/*  */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif, Arial;
}

html, body {
    width: 100vw;

}

#map {
    width: 100vw;
    position: none;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}


/* body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-size: 1em;
    font-family: 'Roboto', sans-serif, Arial;
} */

a {
    color: black;
}

/* Header styling and header elements */

/* background-color with HEX for IE support (when do we get rid of it?) */


#ylamenu {
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
}


#alamenu {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

#tekstiruutu {
    position: absolute;
    left: 25%;
    top: 25%;
    right: 25%;
    bottom: 25%;
    width: fit-content;
    min-width: 25%;
    border-radius: 25px;
    border: 4px solid #7596a1;
    padding: 15px;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2x 4px #888;
    display: none;
    background-color: white;
     z-index: 1000;

}

#teksti {
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 5px;
}

#ruksi {
    font-size: 1.1rem;
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 1px;
    padding-left: 3px;
}

#sulkunappi {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#sisalto {
    font-size: 1rem;
} 

/* .footer {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
    bottom: 0;
    height: 85px;
}

.footer p {
    color: white;
} */

input {
    margin-left: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
}


/* Text settings */

h2 {
    font-family: 'Roboto', Arial, sans-serif;
    margin-block-end: 0;
    font-size: 1em;
    display: block;
}

p {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.50;
    color: #373D3f;
}

p a {
    font-weight: bold;
    text-decoration: none;
}

p b {
    font-size: 1.15em;
}

/* Napit */

button {
    color: #ffffff;
    border-bottom: 2px solid #ffc61e;
    border-radius: 4px;
    border: 2px solid black;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 8px;
    padding-left: 8px;
    margin: 1px 2px 1px 2px;
    background-position: 0 -15px;
    transition: all 0.25s ease 0s;
    background-color:#373D3f;
    pointer-events: auto;
}

button:hover {
    color: black;
    background-color:white;
}

button:active {
    -webkit-box-shadow: inset 0px 0px 8px #000000;
    -moz-box-shadow: inset 0px 0px 8px #000000;
    box-shadow: inset 0px 0px 8px #000000;
    outline: none;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
